
# Enable this systemd service via:
#
# sudo cp ./oxchief-base-client.service /etc/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl enable oxchief-base-client.service


# Final location of service:
#
# /etc/systemd/system/oxchief-base-client.service

[Unit]
Description=OxChief base station client service
After=multi-user.target
Requires=network.target

[Service]
Type=idle
WorkingDirectory=/home/pi/src/oxchief/oxchief-client
ExecStart=/home/pi/src/oxchief/oxchief-client/re.sh
#ExecStart=/home/pi/src/oxchief/oxchief-client/scripts/oxchief.sh base
Restart=on-failure 
# Restart only when the service process does not exit cleanly (non-zero exit code)
RestartSec=60

[Install]
WantedBy=multi-user.target
